@charset "UTF-8";
/* CSS Document */

body	{
	font-family: "proxima-nova",sans-serif;
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova",sans-serif;
}

p	{
	font-family: "proxima-nova",sans-serif;
}

button, .button	{
	font-family: "proxima-nova",sans-serif;
}	

#combative-challenge	{
	background-repeat:no-repeat;
	position: centre top;
	/*height:350px;*/
}

ul, ol, dl	{
	font-family: "proxima-nova",sans-serif;
}	

#find-a-course-near-you	{
	background-image:url(../img/aboutgroup.png);
	background-repeat:no-repeat;
	position: centre top;
	height:700px;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#thailand-cpp	{
	
}

.top-bar, .name h1, .bg-section-menu	{
	background-color: #000000;
}


#Todd-Group-Up-and-coming-course	{
	background-image:url(../img/todd-hand-to-hand_combat_techniques.jpg);
	background-repeat:no-repeat;
	position: centre top;
	height:900px;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#location-container-header	{
	background:url(../img/locationheader.jpg);
	background-repeat:no-repeat;
	position: centre top;
	height:800px;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#about-container-header img	{
	width:100%;
	height:auto;
}

#about-container-header	{
	background:url(../img/aboutgrouplargescreen.png);
	padding:15% 0 20% 0;
	background-size:100%;
}

.panel {
   margin-top:1.8rem;
    margin-bottom: 1.25rem;
	background-color:#ffffff;
	border: 2px solid #efefef;
}

.pricing-table {
    border: none;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
}

.pricing-table .bullet-item {
    border-bottom: none;
}

.pricing-table .description {
    border-bottom: none;
}

#location-container-header h2	{
	color:white;
	font-weight:bold;
	font-size:3.125em;
}

#location-container-intro h2	{
	font-size:3.125em;
	font-weight:bold;
}

.row-content-space-loc	{
	margin:550px 0 0 0;
}

#about-container-one h2	{
	font-size:3.125em;
	font-weight:bold;
}

#content-container-six	{
	background-color:white;
	height:auto;
}


h1#logo-text	{
	margin:0 0 0 0;
	color:black;
	font-weight:bold;
	font-size:3.750em;
}

#thailand-cpp h2.logo-text	{
	font-size: 3.125em;
	font-weight:bold;
}

.logo-text-cl	{
	font-size: 3.125em;
	font-weight:bold;
}

h2#logo-text	{
	font-size: 3.125em;
	font-weight:bold;
}

h2.logo-text-two	{
	padding-top:50px;
	font-size: 3.125em;
	font-weight:bold;
	color:white !important;
}

p.logo-p-text-two	{
	font-size:20px;
	clear:both;
	color:white !important;
}

p.logo-p-text	{
	font-size:20px;
}

#content-container-two	{
	width:100%;
}

.button	{
	background-color: #000000;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #000000; }
	
	
a {
  color: #000000;
  text-decoration: none;
  line-height: inherit;
  background-color:none; }

a.e-l {
  color: #000000;
  text-decoration: none;
  line-height: inherit;
  background-color:none; }

/*Course Calendar*/
.item-wrapper {
  padding: 20px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 40px;
}
.item-wrapper:hover .img-wrapper img {
  -webkit-filter: grayscale(0);
}
.item-wrapper:hover .img-wrapper .add-to-cart {
  bottom: 0;
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.img-wrapper .add-to-cart {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #000000;
  padding: 16px 8px;
  bottom: -50px;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
.img-wrapper .add-to-cart:hover {
  background-color: #000000;
}

.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
  width: 100%;
}

h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

.cta-button	{
	padding:0;
	
}

.orbit-caption	{
	background-color:rgba(0,0,0,0.87);
}

.orbit-container li img	{
	width:100%;
	height:auto;
}

section img	{
	width:100%;
	height:auto;
}

#mb-slide	{
	display:none;
}

img.2slide	{
	display:none;
}


div.full-width-img	{
	width:100% !important;
	height:auto !important;
	
}

.video-container	{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.video-bg	{
	opacity:0.70;
}

.flex-video video	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flex-video	{
	position: relative;
padding-top: 1.5625rem;
padding-bottom: 71%;
height: 0;
margin-bottom: 0rem;
overflow: hidden;
opacity: 0.70;
z-index:-1;	
}

.video-text	{
	color: rgba(2,2,2,0.81);
	position: absolute;
	top: 15%;
	left: 5%;
	font-family: "franklin-gothic-urw",sans-serif;
	font-size: 3em;
	font-weight: bolder;
	text-align: left;
	text-shadow: 0px 5px 5px rgba(115,115,115,0.86);
}

video[poster]	{
	width:100%;
	height:100%;	
}

#combative-challenge-movie	{
	margin-top: -10%;
	margin-bottom: -9.5%;	
}

sticky	{
	background-color:rgba(0,0,0,1.00);
}

#fv,
#tom,
#ken,
#steffan {
	float: left;
	padding-right: 20px;
	padding-bottom: 5px;
}
/*p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}*/

/*Parallax Effect*/
/** {
		padding:0;
		margin:0;
	}

	html, body {
		height:100%;
	}*/

	.skrollr-desktop body {
		height:100% !important;
	}

	/*body {
		font-family:sans-serif;
	}

	p {
		margin:1em 0;
	}*/

	.parallax-image-wrapper {
		position:fixed;
		left:0;
		width:100%;
		overflow:hidden;
	}

	.parallax-image-wrapper-50 {
		height:50%;
		top:-50%;
	}

	.parallax-image-wrapper-100 {
		height:80%;
		top:-80%;
	}
	
	.parallax-image-wrapper-110 {
		height:100%;
		top:-100%;
	}

	.parallax-image {
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	.parallax-image-50 {
		height:200%;
		top:-50%;
	}

	.parallax-image-100 {
		height:100%;
		top:0%;
	}
	
.parallax-image-110 {
		height:100%;
		top:0%;
	}

	.parallax-image.skrollable-between {
		display:block;
	}

	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}

	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}

	.gap {
		background:transparent center no-repeat;
	}

	.skrollr .gap {
		background:transparent !important;
	}

	.gap-50 {
		height:50%;
	}

	.gap-100 {
		height:45%;
	}

.gap-110 {
		height:100%;
	}

	/*.header, .content {
		background:#fff;
		padding:1em;

		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}*/

	.content-full {
		height:100%;
	}

	#done {
		height:100%;
	}

/*Richard Taimalie Parallax Effect course detail Templates styles*/









/*End*/


.centered-text {
  text-align: center;
}

.quote {
  /*background: rgba(220,214,214,0.1);*/
  background-color: #F6F4F4;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #F6F4F4 transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.student {
	margin-left: 25px;
	margin-bottom: 60px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.student p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  color: #777;
}

#front-page-text-container	{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-35%; 
	width:70%;
	text-align:center;
	margin-bottom:50%;
	
}

h1.header-style-movie	{
	font-size: 4em;
	color: rgba(0,0,0,0.64);
	font-weight: bold;
	opacity: 0.8;
	letter-spacing: 0.125em;
	white-space: normal;
	word-spacing: 0.125em;
	text-align: center;
	-webkit-box-shadow: 0px 0px 0px rgba(167,167,167,1.00);
	box-shadow: 0px 0px 0px rgba(167,167,167,1.00);
}
/*End*/

@media only screen and (min-width: 100.000em) { 

#find-a-course-near-you	{
	background-image:url(../img/aboutgrouplargescreen.png);
}

#front-page-text-container	{
	top:50%;
	width:50%;
	margin-left:-25%; 
}


 }
 



/* Very large screens */
@media only screen and (min-width: 1441px) { 

 }
 
 /* ipad screens */
@media only screen and (max-width: 70em) { 

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	
}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) { 
#about-container-two	{
	background-image:none;
	height: auto;
}
#find-a-course-near-you	{
	background-image:url(../img/ipadlandscape-betrained-1000.png);	
}

#front-page-text-container	{
	top:30%;
}


 }
 
 @media only screen and (max-width: 55em) { 
 
 #find-a-course-near-you	{
	background-image:url(../img/ipadlandscape-betrained-760.png);
	height:800px;
}

#front-page-text-container	{
	top:10%;
}

 	
 }
 
 @media only screen and (max-width: 50em) { 

#front-page-text-container	{
	top:5%;
}

 	
 }

/* Small screens */
@media only screen and (max-width: 40em){
#about-container-two	{
	background-image:none;
	
}
.row-space{
	margin:0px;
	
}

h1#logo-text	{
	font-size:1.250em;
}

h2#logo-text	{
	font-size: 1.250em;
	
}

#thailand-cpp h2.logo-text	{
	font-size: 1.250em;
}

#find-a-course-near-you	{
	background-image:none;
	height:auto;
}

#Todd-Group-Up-and-coming-course	{
	background-image:none;
	height:auto;
}

h2.logo-text-two	{
	font-size: 1.250em;
	margin:1.250em 0 0 0;
	padding:0;
	color:rgba(0,0,0,1.00) !important;
}

p.logo-p-text-two	{
	color:rgba(0,0,0,1.00) !important;
}

h2.logo-text, h2.logo-text-cl	{
	font-size: 1.250em;
	margin:1.250em 0 0 0;
	padding:0;
}

.button.large {
    font-size: 0.625em;
}

#location-container-header	{
	display:none;
}

.video-text	{
	font-size: 2em;
}

.flex-video	{

padding-bottom: 67.5%;
}

#front-page-text-container	{
	top:0%;
	
}


 }


.menu-con-right{
	float:right;	
}

[data-magellan-expedition] {
    background: none repeat scroll 0 0 #000000;
    min-width: 100%;
    padding: 16px 20px 10px;
    z-index: 50;
}

#about-container-one	{
	margin: 0;
}

#about-footer	{
	height:300px;
	margin:20px 0 0 0;
}

#about-container-header h2	{
	font-size:3.125em;
	font-weight:bold;
	color:white;
}

.1slide	{
	display:none;
}


@media only screen and (max-width: 40em) and (orientation: landscape){ 

}
